
*.class

*.java

*.jj

.vscode/*

!SimpleNode.java

!AlphaMain.java
!Type.java
!State.java
!Symbol.java
!Var.java
!Method.java
!SymbolTable.java
!FunctionBlock.java
!JasminBuilder.java
!JasminTest.java